<h1>Listing Your Favorites</h1>
<!-- begin the goods -->
<div class="goods">
  
  <% @favs.each do |fav| %>
  <% good = fav.good %>
  <!-- begin good -->
    <div class="good">
      <div class="deed">
        <div class="desc"><%= good.desc %></div>
        <div class="meta"><em><%= good.created_at.strftime("posted %B %d, %Y at %I:%M %p") %> GMT</em></div>
      </div>
      <div class="actions">
        <div>
          You've favorited this, <%= link_to 'unfavorite?', fav, :confirm => 'Are you sure?', :method => :delete %>
        </div>
        <div>
          Has this deed <%= link_to "inspired you?", inspired_me_path(good) %>
        </div>
        <% if good.parent_id != nil %>
          <div>
            Inspired by <%= link_to "this deed.", good_path(good.parent_id) %>
          </div>
        <% end %>
      </div>
    </div>
  <!-- end good -->
  <% end %>
  
  <div class="clear"></div>
</div>
<% if @favs.empty? %>
  <p>You don't have any favorites, <%= link_to "go check out good deeds others have done", goods_path %></p>
<% end %>
<!-- end the goods -->