<!-- begin the goods -->
<div class="goods">
  
  <% @goods.each do |good| %>
  <!-- begin good -->
    <div class="good">
      <div class="desc"><%= good.desc %></div>
      <div class="meta"><em><%= good.created_at.strftime("posted %B %d, %Y at %I:%M %p") %> GMT</em></div>
      <div class="actions">
        <div>
          So far <%= Favorite.where(:good_id => good).count %> ppl have 
          <% if user_signed_in? and current_user.id != good.user.id %>
            <%= link_to 'favorited', add_my_favorite_path(good) %>
          <% else %>
            favorited
          <% end %>        
          this.
        </div>
        <div>
          This deed has inspired <%= pluralize(Good.where(:parent_id => good.id).count, "good deed") %>, has it <%= link_to "inspired you?", inspired_me_path(good) %>
        </div>
        <% if good.parent_id != nil %>
          <div>
            Inspired by <%= link_to "this deed.", good_path(good.parent_id) %>
          </div>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <% if current_user.id == good.user.id %>
          <div class="myactions">
            <%= link_to 'Edit Deed', edit_good_path(good) %>
            <%= link_to 'Delete Deed', good, :confirm => 'Are you sure?', :method => :delete %>
          </div>        
        <% end %>
      <% end %>
    </div>
  <!-- end good -->
  <% end %>
  
  <div class="clear"></div>
</div>
<!-- end the goods -->