<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="8JgIoe2Wlzq38XhsQPoYQG_O4wyy7CqcInDvM1v8-x8" />
  <title>Do Good</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <div class="actions">      
      <% if user_signed_in? %>
        <span>Click here to </span><strong><%= link_to "Do Good", new_good_path %></strong> /
        <%= link_to "Good deeds others have done", goods_path %> /
        <%= link_to "Favorites", favorites_path %> /
        <%= link_to "Settings", edit_user_registration_path %>  /  
        <%= link_to "Log Out", destroy_user_session_path %>       
      <% else %>
        <span>Start </span><strong><%= link_to "Doing Good", new_user_session_path %></strong> /
        <%= link_to "Good deeds others have done", goods_path %> /
        <%= link_to "Sign In", new_user_session_path %> /
        <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
      
    </div>
    <div class="stats">
      <span>
        <em>
          <% todaysthings = Good.posted_within 24.hours.ago %>
          <%= todaysthings.count %>
        </em> good deeds done today, 
        <em><%= Good.all.count %></em> good deeds done so far, 
        <em><%= User.all.count %></em> do gooders
      </span>
    </div>
  </div>
  <div id="content">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
</body>
</html>
